<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Ping Pong Leaderboard
      </h3>
    </div>

    <table class="table">
      <tr>
        <th>W - L</th>
        <th>Team Name</th>
        <th>Score</th>
      </tr>
      <% @teams.each do |team| %>
        <% total_games = team.games.count %>
        <% wins = team.games.where(winner_id: team.id).count %>
        <tr>
          <td><%= wins %> - <%= total_games - wins %></td>
          <td><%= team.name %></td>
          <td>2900</td>
        </tr>
      <% end %>
    </table>

    <%= render "new_match_button" %>
    <%= render "game_rules_button" %>

  </div>
</div>
